<section id="result" class="content">
    <div class="buttons">
        <a href="#/musics" class="continue">Continuer</a>
        <a id="retry" class="retry">Rejouer</a>
        <a href="" class="share" target="_blank">Partager</a>
    </div>

    <h1>SCORE FINAL</h1>

    <div class="score">
        {{ points }} <small>pts</small>
    </div>

</section>
