<h1 id="points">0</h1>

<div id="playerIndicator">
    <h1></h1>
</div>

<div id="playerKeys">
    <button class="button up">⬆</button>
    <button class="button right">➡</button>
    <button class="button bottom">⬇</button>
    <button class="button left">⬅</button>
</div>

<div id="musics"></div>
