<section id="homepage">
    <div class="container">
        <h1>Bienvenue dans <span>Rhythmnastic</span></h1>

        <span class="startingText">Appuyez sur une touche pour commencer</span>
    </div>
</section>
