@import "compass";

@font-face {
    font-family: "Artsy_Brush";
    src: url('../resources/fonts/artsy_brush.otf');
}

@import "compass/reset";


body {
    background: #F9FFFF;
}

.center {
    text-align: center;
}

#container {
    position: fixed;
    background: #fff;
    top: 0; left: 0;
    right: 0; bottom: 0;
    width: 100%;
    height: 100vh;
}

.clear {
    clear: both;
}

#loading {
    font-size: 30px;
    height: 20px;
    width: 100px;
    left: calc(50% - 50px);
    top: calc(50vh - 10px);
    position: absolute;
    color: #000;
    font-family: "Source sans pro";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.content {
    width: 960px;
    left: calc(50% - 480px);
}


// PARTIALS
@import "./_partials/home";
@import "./_partials/signup";
@import "./_partials/musics";
@import "./_partials/game";
